<div class="bottom-nav">
  <section
    class="flex justify-between w-full items-center h-[65px] max-sm:h-[60px] sm:h-[65px] bg-white px-7 b-nav-shadow"
  >
    <a href="/">
      <h1 class="text-base md:text-lg lg:text-lg font-medium text-black">
        Adhim Niokagi
      </h1>
    </a>
    <div class="icon-group flex gap-4 sm:gap-7">
      <i
        class="bx bx-moon text-[22px] cursor-pointer text-gray-600 hover:text-gray-400 transition-all font-medium"
      ></i>
      <i
        class="bx bx-category text-[22px] cursor-pointer text-gray-600 hover:text-gray-400 transition-all font-medium"
      ></i>
    </div>
  </section>
</div>
