<footer>
  <div
    class="max-sm:py-10 max-sm:px-10 lg:py-20 lg:px-20 rounded-2xl bg-white mt-36"
  >
    <section class="text-center">
      <h1 class="sm:text-xs md:text-2xl font-medium">
        {"<"}Adhim Niokagi {"/> "}
      </h1>
      <h2 class="text-gray-400 sm:text-xs">Portofolio website</h2>
    </section>
  </div>
</footer>
