<footer>
  <section class="foot-header">
      <h1>
          {"<"} Adhim Niokagi {"/>"}
      </h1>
      <h2>&copy; Adhim Niokagi. All rights reserved</h2>
      <br><br>
      <!-- <p class="text-[12px] text-gray-400">&copy; Adhim Niokagi. All rights reserved</p> -->
  </section>
</footer>
