<footer>
  <div
    class="max-sm:py-10 h-52 max-sm:px-10 lg:py-20 lg:px-20 rounded-2xl mt-36 bg-nioprimary dark:bg-niodark"
  >
    <section class="text-center">
      <h1 class="text-base sm:text-sm md:text-xl font-medium">
        {"<"}Adhim Niokagi {"/> "}
      </h1>
      <h2 class="text-gray-400 text-[12px] sm:text-sm">portfolio website</h2>
    </section>
  </div>
</footer>
