---
// navbar components
---

<nav>
  <section class="flex justify-between w-full items-center h-[75px] rounded-3xl sm:px-10 bg-white">
    <a href="/">
      <h1 class="sm:text-base lg:text-lg font-medium text-black">
        {"<"}Nioka666{"/>"}
      </h1>
    </a>
    <div class="icon-group flex gap-7">
      <i
        class="bx bx-moon text-[26px] cursor-pointer text-gray-600 hover:text-gray-400 transition-all font-medium"
      ></i>
      <i
        class="bx bx-menu-alt-right text-[26px] cursor-pointer text-gray-600 hover:text-gray-400 transition-all font-medium"
      ></i>
    </div>
  </section>
</nav>
