@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }

  ::selection {
    color: black;
    background: lightgray;
  }

  body {
    @apply bg-white;
  }

  nav {
    @apply sticky top-5 max-sm:top-0 w-full mx-auto h-[75px] flex items-center sm:px-8 lg:px-[115px];
  }

  nav > section {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.065);
  }

  main {
    @apply lg:py-20 lg:px-[150px];
  }

  /* hero section */
  section.hero {
    @apply flex justify-between items-center rounded-2xl mt-7 max-sm:hidden;
  }
  /* hero sm */
  section.sm-hero {
    @apply flex-col rounded-2xl mt-7 sm:hidden;
  }

  section.social-media {
    @apply flex flex-col gap-3;
  }

  section.headline {
    @apply w-[47%] flex flex-col ms-16;
  }

  picture > img.headline-img {
    @apply w-[325px] rounded-tr-[150px] rounded-tl-[150px] rounded-br-[100px] rounded-bl-[150px] border-[12px];
  }
  /* end of hero section */
}

@layer components {
  /*  */
}
