@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  html {
    @apply dark:bg-niodark !important;
  }

  ::selection {
    color: black;
    background: lightgray;
  }

  body {
    @apply dark:bg-niodark dark:text-textdark bg-nioprimary !important;
    max-width: 100% !important;
  }

  .palleteee {
    color: #d6d6d6;
    color: #838383;
    color: #535353;
    color: #262627;
  }

  nav {
    @apply sticky top-0 z-50 mx-auto flex h-[70px] w-full items-center  sm:top-6 sm:h-[75px] sm:px-8 lg:px-[115px];
    transition: all 0.3s ease;
  }

  nav section {
    background-color: #ffffffac;
    backdrop-filter: blur(10px);
    @apply dark:bg-[#292929] max-md:hidden max-sm:hidden;
  }

  .nav.hide {
    transform: translateY(-200%);
  }

  .nav.show {
    transform: translateY(0);
  }

  div.bottom-nav {
    @apply dark:bg-niodark fixed bottom-0 mx-auto flex h-[60px] w-full items-center bg-nioprimary max-sm:visible sm:h-[60px] md:hidden;
  }

  nav > section {
    box-shadow: 2px 2px 10px rgba(96, 96, 96, 0.065);
    @apply flex h-[70px] w-full items-center justify-between rounded-3xl px-7 max-sm:rounded-none sm:h-[75px] sm:px-10 dark:shadow-none;
  }

  main {
    @apply md:px-[50px] md:py-14 lg:px-[150px] lg:py-20;
  }

  /* hero section */
  section.hero {
    @apply flex items-center justify-between rounded-2xl max-md:hidden md:mt-14 lg:mt-12 nionotebook:mt-10;
  }
  /* hero sm */
  section.sm-hero {
    @apply mt-[-60px] flex-col rounded-2xl md:hidden;
  }

  section.social-media {
    @apply flex flex-col gap-5 max-sm:gap-4;
  }

  section.headline {
    @apply flex flex-col md:ms-[60px] md:w-[47%] lg:ms-[95px] lg:w-[70%] min-[1147px]:w-[50%];
  }

  picture > img.headline-img {
    @apply w-[325px] rounded-bl-[150px] rounded-br-[100px] rounded-tl-[150px] rounded-tr-[150px];
  }

  /*  */

  .text-gray {
    /* color: #7b7b7b; */
    @apply text-gray-500;
  }

  .text-niogray {
    color: #747b87;
  }

  .b-nav-shadow {
    box-shadow: 0px -1px 6px #0000000c;
  }

  /* end of hero section */
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  /* part components */

  /* hero */
  .hero-scroll-btn-group {
    @apply ms-[85px] mt-20 max-lg:hidden lg:ms-[130px];
  }

  button.mouse-scroll-btn {
    @apply flex items-center gap-1 rounded-2xl bg-transparent text-base font-normal transition-all hover:translate-y-1;
  }
  /* end of hero */
  .about-component {
    @apply mt-[84px] rounded-3xl py-10 max-md:mx-0 max-sm:mt-[77px] lg:px-10;
  }

  .about-content {
    @apply mt-16 justify-between gap-16 max-sm:mt-8 lg:flex lg:items-center;
  }

  .skills-component {
    @apply mt-20 py-10 max-sm:mt-12 lg:px-10;
  }

  .skills-content-container {
    @apply mx-auto grid w-[90%] gap-6 py-12 max-md:w-[90%] lg:mt-5;
  }

  /* qualifications part */
  .qualifications-component {
    @apply mt-10 h-[700px] py-10 max-sm:mt-1;
  }

  .qualifications-btn-group {
    @apply mt-16 flex justify-center gap-3 font-medium max-sm:mt-12 md:gap-8;
  }

  /* blob animation */
  .blob {
    background-size: cover;
    border: 13px solid #d8d8d86a;
    @apply dark:border-[#535353] dark:brightness-90;
    border-radius: 50% / 50%;
    margin-right: 10px;
    margin-left: -10px;
    animation: morph 8s ease-in-out infinite alternate;
    transform-style: preserve-3d;
    outline: 0px solid transparent;
    will-change: border-radius;
  }

  .blob:before,
  .blob:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50% / 50%;
    will-change: border-radius, transform, opacity;
    animation: morph 10s ease-in-out infinite alternate;
  }

  .blob:before {
    opacity: 0.2;
    animation-delay: 2s;
  }

  .blob:after {
    opacity: 0.8;
    animation-delay: 4s;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 50% / 50%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    25% {
      border-radius: 45% 55% 65% 35% / 55% 45% 55% 45%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    50% {
      border-radius: 40% 60% 50% 50% / 50% 60% 40% 50%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    75% {
      border-radius: 55% 45% 50% 50% / 50% 60% 40% 50%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
  }

  .border-blob-about {
    border: 7px solid #e2e2e200;
  }

  .drawer-b-nav-shadow {
    box-shadow: 0px -1px 10px #8080802a;
  }
}

.lock-scroll {
  overflow: hidden;
  height: 100%;
}

.pallete-nioprimary {
  background-color: #f8f8f8;
}
