@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    @apply scroll-smooth;
  }

  ::selection {
    color: black;
    background: lightgray;
  }

  body {
    background-color: white;
  }

  nav {
    @apply sticky top-0 z-50 mx-auto flex h-[70px] w-full items-center max-md:hidden max-sm:hidden sm:top-6 sm:h-[75px] sm:px-8 lg:px-[115px];
  }

  div.bottom-nav {
    @apply fixed bottom-0 mx-auto flex h-[60px] w-full items-center max-sm:visible sm:h-[60px] md:hidden;
  }

  nav > section {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.065);
  }

  main {
    @apply md:px-[50px] md:py-14 lg:px-[150px] lg:py-20;
  }

  /* hero section */
  section.hero {
    @apply mt-7 flex items-center justify-between rounded-2xl max-md:hidden;
  }
  /* hero sm */
  section.sm-hero {
    @apply mt-[68px] flex-col rounded-2xl md:hidden;
  }

  section.social-media {
    @apply flex flex-col gap-5 max-sm:gap-4;
  }

  section.headline {
    @apply ms-20 flex w-[50%] flex-col;
  }

  picture > img.headline-img {
    @apply w-[325px] rounded-bl-[150px] rounded-br-[100px] rounded-tl-[150px] rounded-tr-[150px] border-[12px];
  }

  .text-highlight {
    background: linear-gradient(180deg, #ffffff00 50%, #ebebeb 50%);
  }

  .text-gray {
    /* color: #7b7b7b; */
    @apply text-gray-500;
  }

  .b-nav-shadow {
    box-shadow: 0px -1px 3px #e8e8e8;
  }

  /* end of hero section */
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  /* blob animation */
  .blob {
    background-size: cover;
    border: 12px solid #e2e2e2a6;
    border-radius: 50% / 50%;
    width: 320px;
    height: 314px;
    animation: morph 10s ease-in-out infinite alternate;
    transform-style: preserve-3d;
    outline: 1px solid transparent;
    will-change: border-radius;
  }

  .blob:before,
  .blob:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50% / 50%;
    will-change: border-radius, transform, opacity;
    animation: morph 10s ease-in-out infinite alternate;
  }

  .blob:before {
    opacity: 0.2;
    animation-delay: 2s;
  }

  .blob:after {
    opacity: 0.8;
    animation-delay: 4s;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 50% / 50%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    25% {
      border-radius: 45% 55% 65% 35% / 55% 45% 55% 45%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    50% {
      border-radius: 40% 60% 50% 50% / 50% 60% 40% 50%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    75% {
      border-radius: 55% 45% 50% 50% / 50% 60% 40% 50%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
  }

  .border-blob-about {
    border: 7px solid #e2e2e200;
  }

  .drawer-b-nav {
    box-shadow: 0px -1px 10px #8080802a;
  }
}
