---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="404 Page Not Found">
    <div class="not-found-page mt-20">
        <center>
            <h1>404</h1>
            <h2>Page Not Found</h2>
        </center>
    </div>
</MainLayout>
