---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404 Page Not Found">
    <div class="not-found-page mt-48">
        <center>
            <h1 class="text-7xl max-sm:text-6xl font-bold">404</h1>
            <h2 class="text-xl">Page Not Found</h2>
            <a href="/" class="font-semibold text-lg mt-16">Back to Homepage</a>
        </center>
    </div>
</MainLayout>
