---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="404 Page Not Found">
    <div class="not-found-page mt-40">
        <center>
            <h1 class="text-4xl max-sm:text-3xl font-bold">404</h1>
            <h2 class="text-lg">Page Not Found</h2>
        </center>
    </div>
</MainLayout>
