---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/react/Hero";
import AboutMe from "../components/react/AboutMe";
import Skills from "../components/react/Skills";
import FloatingButton from "../components/react/FloatingButton"
import Navbar from "../components/react/Navbar";
import BottomNav from "../components/react/BottomNav";
import Journey from "../components/react/Journey";
import Projects from "../components/react/Projects";
import Contacts from "../components/react/Contacts";
---

<MainLayout title="Adhim Niokagi Portfolio">
  <Navbar client:idle/>
  <main>
    <Hero client:idle />
    <AboutMe client:only="react"/>
    <Journey />
    <Skills client:only="react" />
    <Projects client:idle />  
    <Contacts client:idle />
    <FloatingButton client:idle />
  </main>
  <BottomNav client:idle/>
</MainLayout>
