---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/react/Hero";
import AboutMe from "../components/react/AboutMe";
import Skills from "../components/react/Skills";
import Qualification from "../components/react/Qualification";
import FloatingButton from "../components/react/FloatingButton"
import Portfolio from "../components/react/Portfolio";
---

<MainLayout title="Adhim Niokagi Portfolio">
  <main>
    <Hero client:idle />
    <AboutMe client:only="react"/>
    <Skills client:only="react" />
    <Qualification client:idle />
    <!-- <Portfolio /> -->  
    <FloatingButton client:idle />
  </main>
</MainLayout>
