---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Nioka Portofolio">
  <main>
    <!-- hero -->
    <section class="">

    </section>
    <!-- end of hero -->
    <div class="max-sm:py-10 max-sm:px-10 lg:py-20 lg:px-20 rounded-2xl shadow-md grid gap-12 bg-white">
      <section class="text-center">
        <h1 class="sm:text-xs md:text-2xl font-medium">{"<"}Adhim Niokagi {"/> "}</h1>
        <h2 class="text-gray-400 sm:text-xs">Portofolio website</h2>
      </section>
      <hr>
      <!-- body -->
      <section class="text-center sm:text-xs lg:text-5xl font-bold text-gray-400">
        <h1>Coming Soon !</h1>
      </section>
    </div>
  </main>
</MainLayout>
