---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/react/Hero";
import AboutMe from "../components/react/AboutMe";
import Skills from "../components/react/Skills";
import Qualification from "../components/react/Qualification";
import FloatingButton from "../components/react/FloatingButton"
import Portfolio from "../components/react/Projects";
import Navbar from "../components/react/Navbar";
import BottomNav from "../components/react/BottomNav";
import Experiences from "../components/react/Experiences";
---

<MainLayout title="Adhim Niokagi Portfolio">
  <Navbar client:idle/>
  <main>
    <Hero client:idle />
    <AboutMe client:only="react"/>
    <Experiences />
    <Skills client:only="react" />
    <Portfolio client:idle />  
    <FloatingButton client:idle />
  </main>
  <BottomNav client:idle/>
</MainLayout>
