---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/react/Hero";
import AboutMe from "../components/react/AboutMe";
import Skills from "../components/react/Skills";
import Qualification from "../components/react/Qualification";
import ButtonUp from "../components/react/ButtonUp";
---

<MainLayout title="Nioka Portofolio">
  <main>
    <Hero client:idle />
    <AboutMe client:idle />
    <Skills />
    <Qualification client:idle />
    <ButtonUp client:idle />
  </main>
</MainLayout>
