<nav>
  <section class="flex justify-between w-full items-center">
    <h1 class="sm:text-base lg:text-lg font-semibold text-gray-600">{"< "}Nioka.dev{" />"}</h1>
    <i class="bx bx-menu-alt-right text-2xl cursor-pointer text-gray-600 hover:text-gray-400 transition-all font-medium"></i>
  </section>
</nav>
