---
import "../styles/main.css";
import Navbar from "../components/react/Navbar";
import BottomNav from "../components/react/BottomNav";
import Footer from "../components/astro/Footer.astro";
import ButtonUp from "../components/react/ButtonUp";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Adhim Niokagi personal Web portfolio" />
    <meta
      name="keywords"
      content="Adhim Niokagi, Niokagi, Nioka666, Adhim Niokagi portfolio, Niokagi portfolio, Nioka666 portfolio, Front-End Developer"
    />
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="icon" type="image/svg+xml" href="./favicon.svg" /> -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <title>{title}</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <Navbar client:idle />
    <slot />
    <ButtonUp client:idle />
    <Footer />
    <BottomNav client:idle />
  </body>
</html>
