---
import "../styles/main.css";
import Navbar from "../components/react/Navbar";
import BottomNav from "../components/react/BottomNav";
import Footer from "../components/astro/Footer.astro";
import ButtonUp from "../components/react/ButtonUp";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light" class="bg-nioprimary dark:bg-niodark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Adhim Niokagi personal Web portfolio, this website is contain about my passion, journey and biograph."
    />
    <meta
      name="keywords"
      content="Adhim Niokagi, Adhim Niokagi Portfolio, Niokagi, frontend, web developer"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Adhim Niokagi" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://nioka.vercel.app" />
    <!-- <link rel="icon" type="image/svg+xml" href="./favicon.svg" /> -->
    <!-- tags -->
    <meta property="og:title" content="Nioka Portfolio Website" />
    <meta
      property="og:description"
      content="This portfolio website, contain about my passion, journey."
    />
    <meta property="og:image" content="https://nioka.vercel.app" />
    <meta property="og:url" content="https://nioka.vercel.app" />
    <!-- twitter -->
    <meta name="twitter:title" content="Nioka Portfolio Website" />
    <meta
      name="twitter:description"
      content="This portfolio website, contain about my passion, journey."
    />
    <meta name="twitter:url" content="https://nioka.vercel.app" />
    <meta name="twitter:card" content="Nioka Portfolio Website" />
    <!--  -->

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <title>{title}</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <Navbar client:idle />
    <slot />
    <ButtonUp client:idle />
    <BottomNav client:idle />
    <Footer />
  </body>
</html>
